# Supabase Configuration
VITE_SUPABASE_URL=https://fekifatmittwngtahhoj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZla2lmYXRtaXR0d25ndGFoaG9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNTk1ODEsImV4cCI6MjA4ODgzNTU4MX0.9FjBMaZJtyo6tSRQyR3JroM9ONvAXU-3yMhjZilf1YU 

# API Configuration
VITE_API_URL=http://localhost:3001

# Mercado Pago Configuration
VITE_MP_PUBLIC_KEY=your_mercado_pago_public_key
